<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>GPT</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        #result div {
            text-align: left !important;
        }
    </style>
</head>
<body>
  
<section style="background-color: #eee;">
    <div class="container py-5">
      <div class="row d-flex justify-content-center">
        <div class="col-md-12 col-lg-12 col-xl-12">
          <div class="card" id="chat1" style="border-radius: 15px;">
            <div class="card-header d-flex justify-content-between align-items-center p-3 bg-info text-white border-bottom-0"
              style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
              <i class="fas fa-angle-left"></i>
              <p class="mb-0 fw-bold" style="font-size: 24px;">みどりのGPT (ChatGPT)</p>
              <i class="fas fa-times"></i>
            </div>
            <div class="card-body">
  
              <div class="d-flex flex-row justify-content-start mb-4">
                <img src="/images/yiso.png" alt="avatar 1" style="width: 45px; height: 100%;">
                <div class="p-3 ms-3" style="border-radius: 15px; background-color: rgba(57, 192, 237,.2);">
                  <p class="middle mb-0">相談したいことを入力してください</p>
                </div>
              </div>
  
              <div class="d-flex flex-row justify-content-end mb-4">
                <div class="p-3 me-3 border" style="border-radius: 15px; background-color: #fbfbfb;">
                  <p class="middle mb-0">Thank you, I really like your product.</p>
                </div>
              </div>

  
              <div class="form-outline">
                <textarea class="form-control" id="textAreaExample" rows="6"></textarea>
                <label class="form-label" for="textAreaExample">Type your message</label>
              </div>
  
            </div>
          </div>
  
        </div>
      </div>
  
    </div>
  </section>

</body>
</html>