{% extends "base.html" %}
{% block content %}

<div class="container py-5">
  <div class="row d-flex justify-content-center">
    <p class="mode">{{mode}}</p>
    <div class="col-md-12 col-lg-12 col-xl-12">
      <div class="card" id="chat1">
        <div class="card-header d-flex justify-content-between align-items-center p-3 bg-info text-white border-bottom-0">
          <i class="fas fa-angle-left"></i>
          <p class="mb-0 fw-bold chat_title">チートイ(ChatGPT+DeepL)</p>
          <i class="fas fa-times"></i>
        </div>
        <div class="card-body">

          <div class="d-flex flex-row justify-content-start mb-4">
            <img src="/static/yiso.png" alt="avatar 1" class="icon">
            <div class="p-3 ms-3 gpt_message">
              <p class="middle mb-0">日本語に翻訳したいファイルを選択してください
                <br>※精度が微妙で見栄えが崩れがちです。
              <br>対応フォーマット一覧：.pptx .docx .pdf .txt .html
            </p>
            </div>
          </div>
          {% for message in messages %}
          {% if loop.index % 2 == 1  %}
          <div class="d-flex flex-row justify-content-end mb-4">
            <div class="p-3 me-3 border user_message">
              <p class="middle mb-0">{{message|safe}}</p>
            </div>
          </div>
          {% else %}
          <div class="d-flex flex-row justify-content-start mb-4">
            <img src="/static/yiso.png" alt="avatar 1" class="icon">
            <div class="p-3 ms-3 gpt_message">
              <p class="middle mb-0">{{message|safe}}</p>
            </div>
          </div>
          {% endif %}
          {% endfor %}
          
          <form action="" method="POST" enctype="multipart/form-data">
            <div class="parent-box flex-box">
              <label for="file">→</label>
              <input id="file" type="file" name="file">
              <button type="submit" class="btn btn-primary align-right">送信</button>
          </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}